<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"	>
<head>
	<meta charset="UTF-8" />
	<title>Pesquisa de título</title>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="/css/myCss.css" />
</head>
<body>
	<nav class="navbar navbar-dark bg-dark">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">
					<img alt="AlgaWorks" src="/images/logo-algaworks.png" />
				</a>
			</div>
		</div>	
	</nav>
	
	<div class="card new-card">
		<div class="card-header">
			<h3 class="card-title">Pesquisa de títulos</h3>			
		</div>
		
		<div class="card-body">
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th class="text-center col-md-1">#</th>
						<th>Descrição</th>
						<th class="text-center col-md-2">Data de vencimento</th>
						<th class="text-right col-md-2">Valor</th>
						<th class="text-center col-md-2">Status</th>
						<th class="col-md-1"></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td colspan="6">Nenhum título foi encontrado</td>
					</tr>
					
				</tbody>
			</table>
		</div>
	
	</div>
	
	<script src="/js/jquery-3.3.1.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>
</html>